apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - externalsecret.yaml

helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    version: 1.3.2
    releaseName: "external-secrets"
    includeCRDs: true
    namespace: kube-system
    valuesFile: values.yaml
