apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
#  - http-route.yaml
  - webhook-secret.sops.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.4.4
    releaseName: "argocd"
    namespace: argocd
    valuesFile: values.yaml
